{% extends 'base.html'%}
<html>
<title>
    home page
</title>
<body>
{% block content %}
<style>
table{
    width:100%;
    text-align: center;
}
td,th{
    padding-top: 6px;
    padding-bottom: 6px;
}
tbody:nth-of-type(odd){
    background-color: red;
    color: white;
}
tbody:nth-of-type(even){
    background-color: red;
    color: white;
}
thead{
    background-color: orange;
    color: white;
}
body{
    background-color: aqua;
}
</style>
    <div class="container">
        <div class="row">
             <div class="col-md-12">
                {% if courses %}
                <center><h2>Available courses are...</h2></center>
                <table border="2px">
                    <thead>
                    <tr>
                        <th>Course Id</th>
                        <th>Course Name</th>
                        <th>Course Dur</th>
                        <th>Course Fee</th>
                        <th>start date</th>
                        <th>start Time</th>
                        <th>Trainer Name</th>
                        <th>Trainer Exp</th>
                    </tr>
                    </thead>
                    {% for i in courses %}
                <tbody>
                <tr>
                    <td>{{ i.course_id }}</td>
                    <td>{{ i.course_name }}</td>
                    <td>{{ i.course_dur}}</td>
                    <td>{{ i.course_fee}}</td>
                    <td>{{ i.start_date}}</td>
                    <td>{{ i.start_time}}</td>
                    <td>{{ i.trainer_name}}</td>
                    <td>{{ i.trainer_exp}}</td>
                </tr>
                </tbody>
                    {% endfor %}
                </table>
                {% else %}
                <h1> No courses are Available</h1>
                {% endif %}
            </div>

        </div>
    </div>

{% endblock %}
</body>
</html>