{% extends 'base.html'%}
<html>
<head>
    <title>
    home page
</title>
</head>

<body>

{% block content %}
    <div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-6">

                {% if fdata %}
                    <h3> your feedbacks are</h3>
                {% endif %}

                 {% if fdata %}
                     {% for i in fdata %}
                         {% if i.rating >= 6 and i.rating <= 10 %}
                             <b id="name1">Name:{{ i.name|capfirst }}</b><br>
                                            Rating:{{ i.rating}}<br>
                                            Date:{{ i.date}}<br>
                                            Feedback:{{ i.feedback }}<br><br>
                         {% endif %}
                     {% endfor %}
                {% else %}


                    <h3>No Feedbacks are available</h3>
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    <h4> Please enter your feedback</h4>
                    {{ fform}}<br>
                    <center>
                        <input type="submit" value="send" class="btn btn-success">
                        <input type="reset" value="clear" class="btn btn-danger">
                    </center>

            </form>

        </div>

    </div>
    </div>
{% endblock %}
</body>
</html>